In [ ]:
a=int(input())

if a%2 == 0:
  print("%d is an even number."% a)
else:
  print("%d is not an even number."% a)

56
56 is an even number.

In [ ]:
a=int(input())

if a%2 == 0:
  print("%d is an even number."% a)
else:
  print("%d is not an even number."% a)

21
21 is not an even number.

In [ ]:
a = int(input())

if(a%3 == 0)and(a%5 ==0):
  print("%d is a multiple of 3 and 5."%a)
elif a%3 == 0:
  print("%d is a multiple of 3."%a)
elif a%5 == 0:
  print("%d is a multiple of 5."%a)
else:
  print("%d is not a multiple of 3 or 5."%a)

55
55 is a multiple of 5.

In [ ]:
a = int(input())

if(a%3 == 0)and(a%5 ==0):
  print("%d is a multiple of 3 and 5."%a)
elif a%3 == 0:
  print("%d is a multiple of 3."%a)
elif a%5 == 0:
  print("%d is a multiple of 5."%a)
else:
  print("%d is not a multiple of 3 or 5."%a)

92
92 is not a multiple of 3 or 5.

In [ ]:
year = int(input())

if year%400 == 0 or (year%4 ==0 and year%100!= 0):
  print(year,"is a leap year.")
else:
  print(year,"is not a leap year.")

2000
2000 is a leap year.

In [ ]:
year = int(input())

if year%400 == 0 or (year%4 ==0 and year%100!= 0):
  print(year,"is a leap year.")
else:
  print(year,"is not a leap year.")

2002
2002 is not a leap year.

In [ ]:
a = eval(input())
b = eval(input())
opr = input()
ans = 0

if opr == '+': ans = a+b
elif opr == '-': ans = a-b
elif opr == '*': ans = a*b
elif opr == '/': ans = a/b
elif opr == '//': ans = a//b
elif opr =='%': ans = a%b

print(ans)

40
20
*
800

In [ ]:
c = input()

if('a'<=c <='z')or('A'<= c <='Z'):
  print(c, "is an alphabet.")
elif('0'<= c <='9'):
  print(c,"is a number.")
else:
  print(c,"is a symbol.")

A
A is an alphabet.

In [ ]:
c = input()

if('a'<=c <='z')or('A'<= c <='Z'):
  print(c, "is an alphabet.")
elif('0'<= c <='9'):
  print(c,"is a number.")
else:
  print(c,"is a symbol.")

$
$ is a symbol.

In [ ]:
c = input()

if('a'<=c <='z')or('A'<= c <='Z'):
  print(c, "is an alphabet.")
elif('0'<= c <='9'):
  print(c,"is a number.")
else:
  print(c,"is a symbol.")

9
9 is a number.

In [ ]:
score = eval(input())

if 80 <= score <= 100:
  grade = 'A'
elif 70 <= score <= 79:
  grade = 'B'
elif 60 <= score <= 69:
  grade = 'C'
elif score <= 59:
  grade = 'F'

print(grade)

80
A

In [ ]:
cost = eval(input())

if cost >= 38000:
  pay = cost * 0.7
elif cost >= 28000:
  pay = cost * 0.8
elif cost >= 8000:
  pay = cost * 0.95

print(pay)

14000
13300.0

In [ ]:
num = eval(input())

if 0<= num <= 9: hex_num = num
elif num == 10: hex_num = 'A'
elif num == 11: hex_num = 'B'
elif num == 12: hex_num = 'C'
elif num == 13: hex_num = 'D'
elif num == 14: hex_num = 'E'
elif num == 15: hex_num = 'F'

print(hex_num)

14
E

In [ ]:
num = eval(input())

if 0<= num <= 9: hex_num = num
elif num == 10: hex_num = 'A'
elif num == 11: hex_num = 'B'
elif num == 12: hex_num = 'C'
elif num == 13: hex_num = 'D'
elif num == 14: hex_num = 'E'
elif num == 15: hex_num = 'F'

print(hex_num)

8
8

In [ ]:
x = eval(input())
y = eval(input())
dist = ((x-5)**2 + (y-6)**2)** 0.5

if dist <= 15:
  print("Inside")
else:
  print("Outside")

40
44
Outside

In [ ]:
side1 = eval(input())
side2 = eval(input())
side3 = eval(input())

if side1 + side2 > side3 \
  and side2 + side3 > side1 \
  and side1 + side3 > side2:
    print(side1 + side2 + side3)
else:
  print("Invalid")

4
4
4
12

In [ ]:
side1 = eval(input())
side2 = eval(input())
side3 = eval(input())

if side1 + side2 > side3 \
  and side2 + side3 > side1 \
  and side1 + side3 > side2:
    print(side1 + side2 + side3)
else:
  print("Invalid")

4
9
40
Invalid

In [ ]:
x1,y1 = eval(input())
if abs(x1) <= 8/2 and abs (y1)<= 6/2:
  print('(%d,%d)is inside of the rectangle'%(x1,y1))
else:
  print('(%d,%d)is outside of the rectangle'%(x1,y1))

12, 22
(12,22)is outside of the rectangle

In [ ]:
import random
num = random.randint(1,100)
if num % 2 == 0:
  print('%d is even number.'%(num))
else:
  print('%d is odd number.'%(num))

47 is odd number.

In [ ]:
a,b,c = eval(input('Enter a,b,c:'))
d,e,f = eval(input('Enter d,e,f:'))

if a*e - b*d == 0:
  if c*e - b*f == 0 and a*f - c*d == 0:
    print('有無限多組解')
  else:
    print('無解')
else:
  x = (c*e - b*f) / (a*e - b*d)
  y = (a*f - c*d) / (a*e - b*d)
  print('x is %.2f, y = %.2f '%(x,y))

Enter a,b,c:1,2,3
Enter d,e,f:4,5,6
x is -1.00, y = 2.00

In [ ]:
number = eval(input("Enter a three - digit integer:"))
reversedNumber = (number%10)*100 + (number //10\
          %10)*10+(number//100)

if number == reversedNumber:
  print(number,"is a palindrome number.")
else:
  print(number,"is not a palindrome number.")

Enter a three - digit integer:144
144 is not a palindrome number.

In [ ]:
num1,num2,num3 = eval(input("Enter three integers:"))
if num1 > num2:
  num1,num2 = num2,num1

if num2 > num3:
  num2,num3 = num3,num2

if num1 > num2:
  num1,num2 = num2,num1

print("The sorted numbers are",num1,num2,num3)

Enter three integers:4,9,11
The sorted numbers are 4 9 11