In [1]:
for i in range(1,21):
  print('*',end = ' ')
print( )

for i in range(1,31):
  print('*',end = ' ')
print( )

for i in range(1,51):
  print('*',end = ' ')
print( )

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [2]:
def printStar(n):
  for i in range(1,n+1):
    print('*',end = ' ')
  print( )

def main( ):
  printStar(20)
  printStar(30)
  printStar(50)

main( )

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [3]:
def total( ):
  sum = 0
  for i in range(1,101):
    sum += i
  print('summation of 1 to 100:',sum)

def main( ):
  total( )

main( )

summation of 1 to 100: 5050

In [10]:
def total( ):
  sum = 0
  for i in range(1,101):
    sum += i
  return sum

def main( ):
  t = total( )
  print('summation of 1 to 100:',t)

main( )

summation of 1 to 100: 5050

In [7]:
def total(a,b):
  sum = 0
  for i in range(a,b+1):
    sum += i
  return sum

def main( ):
  x = eval(input('Enter start number:'))
  y = eval(input('Enter end number:'))
  t = total(x,y)
  print('summation of %d to %d: %d'%(x,y,t))

main( )

Enter start number:2
Enter end number:100
summation of 2 to 100: 5049

In [8]:
def total(a,b):
  sum = 0
  for i in range(a,b+1):
    sum += i
  return sum

def main( ):
  x = eval(input('Enter start number:'))
  y = eval(input('Enter end number:'))
  t = total(x,y)
  print('summation of %d to %d: %d'%(x,y,t))

main( )

Enter start number:1
Enter end number:101
summation of 1 to 101: 5151