In [ ]:
import random
times3 = 0
times5 = 0
times7 = 0
others = 0
for i in range(1,101):
  flag = False
  randNum = random.randint(1,100)
  print(randNum,end = ' ')
  if randNum %3 == 0:
    times3 += 1
    flag = True
  if randNum % 5 == 0:
    times5 += 1
    flag = True
  if randNum % 7 == 0:
    times7 += 1
    flag = True
  if flag == False:
    others += 1
print('\ntimes3 = %d,times5 = %d,times7 = %d'%(times3,times5,times7))
print('others=%d'%(others))

100 1 26 37 35 23 17 46 52 29 8 96 50 75 94 72 57 60 33 22 11 73 16 40 14 36 70 54 52 39 62 20 50 69 59 44 47 72 72 100 37 81 65 44 13 62 8 95 3 69 81 35 76 44 20 37 27 13 42 84 91 11 49 96 48 67 26 82 14 64 8 39 33 45 51 72 28 67 58 89 35 91 10 73 14 47 95 58 14 81 21 8 22 10 1 44 1 93 94 73
times3 = 29,times5 = 19,times7 = 15
others=47

In [ ]:
import random
count = 1
for i in range(1,101):
  randNum = random.randint(1,100)
  if count %10 != 0:
    print('%5d'%(randNum),end = ' ')
  else:
    print('%5d'%(randNum))
  count += 1

   16     9    67    61    16    65    98    71    12    70
   41    11    49    80    44    79    12    79    29    50
   13    52    73    37    34    14    56     8    83    91
   39    87    21    60    89    57     1    50   100    60
   17    55    47    76    12    65    29    38    38    60
   74    90    54    63    67    24    82    37    85    19
   60    85    32    40    33    46    68    51    42    66
   83    35    43    72    57    55    55    45    98    64
   74    12    14    82    31    96    44    20    69    48
   78    81     5     6    52    34     1    76    29    38

In [ ]:
import random
count = 1
while count<= 10:
  for i in range(1,7):
    randNum = random.randint(1,49)
    print('%3d'%(randNum),end = ' ')
  print()
  count += 1
print('Over')

  7  36   1  23  41  30
 34  30  13  24   8  29
 47   3  12  33  36  49
  9  31  34  13  33  38
  8  30  29  45  34  31
 13  27  48  13  16   2
 12  31  23  24  32  16
  7  30  49   5  10  11
 32   4  21   8  37   5
 43  34  25  41  21  47
Over